<p>User Name: {{selectedUser?.username}}</p>

<p>About {{selectedUser?.username}}: {{selectedUser?.aboutMe}}</p>
<p>Member since: {{selectedUser?.dateCreated}}</p>
<p>Your avatar: {{selectedUser?.avatarUrl}}</p>

<!-- Add conditional to only show if array contains objects -->
<div *ngIf="selectedUser && selectedUser.questions">
<p>This User's Questions: </p>
<ul *ngFor="let question of selectedUser.questions | enabledQuestion">
<li><a class="nav-link" [routerLink]="['/questionDetail', question.id]">{{question.question}}</a></li>
</ul>
</div>


<!-- Add conditional to only show if array contains objects -->
<p>This User's Answers</p>
<ul *ngFor="let answer of selectedUser?.answers">
  <!-- this link doesn't work because answer.question?.id is null? -->
  <li><a class="nav-link" [routerLink]="['/questionDetail', answer.question?.id]">{{answer.answer}}</a></li>
  </ul>
