
<form>
  <div class="form-group">
    <div class="row">
      <div class="col-auto">
        <label for="question"><b>Question: </b></label>
      </div>
      <div class="col col-auto">
      </div>
      <div class="error">{{errorMessage}}</div>
        <textarea
        class="form-control"
        id="question"
        type="text"
        name="question"
        placeholder="question"
        [(ngModel)]="newQuestion.question"
        rows="3"
        ></textarea>
      </div>
    </div>
  <!-- Add checkboxes for list of categories to select -->
  <div class="form-group">
    <div class="row">
      <div class="col-auto">
        <label for="categories"><b>Categories: </b></label>
      </div>
      <div class="col col-auto" *ngFor="let category of categories; let i = index" [attr.data-index]="i">
        <label for="{{category.name}}">{{category.name}}</label><br>
        <input
          type="checkbox"
          name="{{category.name}}"
          [(ngModel)]="selectedCategories[i]"
        />
      </div>
    </div>
  </div>
    <button class="btn btn-primary" name="addQuestionButton" (click)="createQuestion()">
      Submit Question
    </button>
</form>



