<div class="card" tyle="width: auto;">
  <div class="card-body">
    <h5 class="card-title">New Answer</h5>
    <form>
      <div class="error">{{errorMessage}}</div>
      <textarea
      id="answer"
      type="text"
      name="answer"
      rows="4"
      cols="50"
      placeholder="answer"
      [(ngModel)]="newAnswer.answer"
    >
    </textarea>
    <br>
    <button class="btn btn-outline-primary" name="addAnswerButton" (click)="createAnswer()">Submit Answer</button>
     </form>
    </div>
</div>
