
<form>
  <div class="form-group">
    <div class="row">
      <div class="col-auto">
        <label for="answer"><b>ANSWER: </b></label>
      </div>
      <div class="error">{{errorMessage}}</div>
      <div class="col col-auto">
        <textarea
          id="answer"
          type="text"
          name="answer"
          rows="4"
          cols="50"
          placeholder="answer"
          [(ngModel)]="newAnswer.answer"
        >
        </textarea>
        <br>
        <button name="addAnswerButton" (click)="createAnswer()">Submit Answer</button>
      </div>
    </div>
  </div>
</form>

