<h1>ADD Answer Form</h1>
<form>
  <div class="form-group">
    <div class="row">
      <div class="col-auto">
        <label for="answer"><b>ANSWER: </b></label>
      </div>
      <div class="col col-auto">
        <input
          id="answer"
          type="text"
          name="answer"
          placeholder="answer"
          [(ngModel)]="newAnswer.answer"
        />
        <button name="addAnswerButton" (click)="createAnswer()">Submit Answer</button>
      </div>
    </div>
  </div>
</form>
