
<button class="btn btn-outline-primary" (click)="setAddQuestion()">add a question</button>
<div id="addAnswerFormDiv" >
  <app-add-question *ngIf="addQuestion" (reloadParent)="questionAdded()"> </app-add-question>
</div>
<!-- <button name="backToQuestionList" (click)="createQuestion()">
  Back to Question List
</button> -->


<select name="categories" id="categories" [(ngModel)]="selectedCategory">
  <option type="text" >All</option>
  <option type="text" *ngFor="let category of categories">{{category.name}}</option>
</select><br><br>

<div>
  <table class="table table-striped table-hover">
    <thead class="table-dark">
      <tr>
        <th>Id</th>
        <th>User</th>
        <th>Question</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let question of questions | enabledQuestion | category: selectedCategory">
        <td>{{ question.id }}</td>
        <td><a class="nav-link" [routerLink]="['/userProfile', question.user?.id]">{{ question.user?.username }}</a></td>
        <td><a class="nav-link" [routerLink]="['/questionDetail', question.id]">{{ question.question }}</a></td>
        <td>
          <button *ngIf="user.id === question.user?.id || user.role === 'ADMIN'" class="btn btn-danger" (click)="deleteQuestion(question.id)">
            X
          </button>
        </td>
      </tr>
    </tbody>
  </table>



