@import "~bootstrap/dist/css/bootstrap.css";
a:hover{
  color: yellowgreen !important;
  text-decoration: underline;
}

.error {
  color: red !important;
}

body{
background-image: url("https://c.wallhere.com/photos/8b/4e/1440x900_px_digital_art_Super_Mario_video_games-716745.jpg!d");
background-color: tan;
background-repeat: no-repeat;
background-size: cover;
}
