<br><br>
<div id="head">
  <div class="row justify-content">
    <div class="col-3 ">
      <img id="headimgs" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/ed991cf4-7c8c-4530-b6ba-a3abf3ab2eae/dcpa2oe-64b9d658-f8b4-4073-b431-8c487886c16e.png/v1/fill/w_400,h_400,strp/super_mario__question_block_2d_by_joshuat1306_dcpa2oe-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NDAwIiwicGF0aCI6IlwvZlwvZWQ5OTFjZjQtN2M4Yy00NTMwLWI2YmEtYTNhYmYzYWIyZWFlXC9kY3BhMm9lLTY0YjlkNjU4LWY4YjQtNDA3My1iNDMxLThjNDg3ODg2YzE2ZS5wbmciLCJ3aWR0aCI6Ijw9NDAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.ihO8ePS3dFGXQmZD8eQSwsfcYkKg1SzQN7Nvi1RN5mo"
      style="max-width: 60px; height: auto " alt="">
      <!-- <img id="headimgs" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/ed991cf4-7c8c-4530-b6ba-a3abf3ab2eae/dcpa2oe-64b9d658-f8b4-4073-b431-8c487886c16e.png/v1/fill/w_400,h_400,strp/super_mario__question_block_2d_by_joshuat1306_dcpa2oe-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NDAwIiwicGF0aCI6IlwvZlwvZWQ5OTFjZjQtN2M4Yy00NTMwLWI2YmEtYTNhYmYzYWIyZWFlXC9kY3BhMm9lLTY0YjlkNjU4LWY4YjQtNDA3My1iNDMxLThjNDg3ODg2YzE2ZS5wbmciLCJ3aWR0aCI6Ijw9NDAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.ihO8ePS3dFGXQmZD8eQSwsfcYkKg1SzQN7Nvi1RN5mo"
      style="width: 60px; height: 60px " alt=""> -->

    </div>
    <div class="col-6">
      <!-- <div class="text-center"> -->
        <div class="row justify-content">
        <!-- <h1>QUESTION BLOCK</h1> -->
        <img src="https://fontmeme.com/permalink/221204/fe75ab78f66e208d24c74319d0348266.png">
      </div>
    </div>
    <div class="col-3">
      <img id="headimgs" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/ed991cf4-7c8c-4530-b6ba-a3abf3ab2eae/dcpa2oe-64b9d658-f8b4-4073-b431-8c487886c16e.png/v1/fill/w_400,h_400,strp/super_mario__question_block_2d_by_joshuat1306_dcpa2oe-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NDAwIiwicGF0aCI6IlwvZlwvZWQ5OTFjZjQtN2M4Yy00NTMwLWI2YmEtYTNhYmYzYWIyZWFlXC9kY3BhMm9lLTY0YjlkNjU4LWY4YjQtNDA3My1iNDMxLThjNDg3ODg2YzE2ZS5wbmciLCJ3aWR0aCI6Ijw9NDAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.ihO8ePS3dFGXQmZD8eQSwsfcYkKg1SzQN7Nvi1RN5mo"
      style="width: 60px; height: 60px" alt="">
    </div>
  </div>
<br><br>

<div class="text-center">
  <h5>Our users have the answers to all your burning questions!</h5>
</div>

  <ngb-carousel>
    <ng-template ngbSlide *ngFor="let question of questions | enabledQuestion">
      <div class="css_slide"></div>
      <div class="carousel-caption">
        <div class="text-center" >
          <h3></h3>
          <h5>{{question.question}}</h5>
          <!-- <br><br><br> -->
        </div>
      </div>
    </ng-template>
  </ngb-carousel>
  <br><br>
  <div class="text-center">
    <h2>Level-Up Before Your Next Interview</h2>
    <hr><br>
  </div>
</div>

<div class="description">
  <div class="text-center">
    <h5>With Question Block you can find common interview questions with top rated answers,
      submit your own, add companies to associated questions and connect with other users! So what are you waiting for? Register with Question Block today! </h5>
      <br><hr><br>
    </div>
  </div>
  <div class="text-center">
    <div class="row justify-content-evenly">
      <div class="col-4">

       <div class="card" style="width: auto;">
         <img id="cardimg" src="https://i.pinimg.com/originals/e5/d7/72/e5d772f6f242672f52ae44c2bc53db07.jpg" class="card-img-top" alt="...">
         <div class="card-body">
          <h3 class="card-title">STUDY:</h3>
           <h5 class="card-text">Learn from our list of user-generated questions and answers</h5>
         </div>
      </div>
      </div>
      <div class="col-4">

        <div class="card" style="width: auto;">
          <img id="cardimg" src="https://www.godisageek.com/wp-content/uploads/mario-feature.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title">GET READY:</h3>
            <h5 class="card-text">Got an interview coming up?  See which questions companies have asked in the past</h5>
      </div>
      </div>
      </div>
      <div class="col-4">

        <div class="card" style="width: auto;">
          <img id="cardimg" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/c3eb250f-f894-4fa8-89d7-02e35325ce49/dehp8tv-38a308fc-2eff-4412-bc15-a530efcb3d86.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2MzZWIyNTBmLWY4OTQtNGZhOC04OWQ3LTAyZTM1MzI1Y2U0OVwvZGVocDh0di0zOGEzMDhmYy0yZWZmLTQ0MTItYmMxNS1hNTMwZWZjYjNkODYucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.iKsv4VQpglfWNM1tKxuPjoUyR6TlpAwffTALygtG3LI" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title">CONTRIBUTE:</h3>
            <h5 class="card-text">Post your questions, submit an answer, comment on and rank other answers</h5>
      </div>
    </div>
  </div>
    </div>
    </div>
