<h1>Register a new Account Here</h1>

<div>
  <form>
    <div class="form-group">
      <div class="row">
        <div class="col-1">
          <label for="username"><b>Username: </b></label>
        </div>
        <div class="col">
          <input
            id="username"
            type="text"
            name="username"
            placeholder="username"
            [(ngModel)]="newUser.username"
          />
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-1">
          <label for="password"><b>Password: </b></label>
        </div>
        <div class="col">
          <input
            id="password"
            type="password"
            name="password"
            placeholder="password"
            [(ngModel)]="newUser.password"
          />
        </div>
      </div>
    </div>
    <input
      class="btn btn-secondary"
      type="submit"
      name="newUser"
      value="register"
      (click)="register(newUser)"
    />
  </form>
</div>
