

<!-- Cancel button should return to edit detail. Save button saves edits into the database and returns to question detail.-->

<div *ngIf="editQuestion">
  <form>

    <div class="form-group">
      <div class="mb-3">
        <div >
          <label for="question" class="form-label"><b>Edit Question: </b></label>
        </div>
        <div >
          <textarea
          class="form-control"
          id="question"
          type="text"
          name="question"
          rows="3"
          [(ngModel)]="editQuestion.question"
          >{{editQuestion.question}}</textarea>
        </div>
      </div>
    </div>
    <div>
      <input

      type="hidden"
      name="enabled"

      [(ngModel)]="editQuestion.enabled"
    />
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-auto">
          <label for="categories"><b>Categories: </b></label>
        </div>
        <div class="col col-auto" *ngFor="let category of categories; let i = index" [attr.data-index]="i">
          <label for="{{category.name}}">{{category.name}}</label><br>
          <input
            type="checkbox"
            name="{{category.name}}"
            [(ngModel)]="selectedCategories[i]"
          />
        </div>
      </div>
    </div>


    <input
      class="btn btn-outline-danger"
      type="submit"
      value="Cancel"
      (click)="backToDetail()"/>

    <input
    class="btn btn-secondary"
    type="submit"
    name="editQuestion"
    value="Save"
    (click)="updateQuestion()"
  />

  </form>

</div>


