
<div class="card" tyle="width: auto;">
  <div class="card-body">
    <h5 class="card-title">New Comment</h5>
    <form>
      <div class="error">{{errorMessage}}</div>
      <textarea
          id="commentText"
          type="text"
          name="commentText"
          rows="4"
          cols="50"
          placeholder="answerComment"
          [(ngModel)]="newAnswerComment.commentText"
        >
        </textarea>
        <br>
        <button class="btn btn-outline-primary" name="addAnswerCommentButton" (click)="createAnswerComment()">Submit  Comment</button>
     </form>
    </div>
</div>
