<button *ngIf="!addCompany" class="btn btn-outline-primary" (click)="setAddCompany()">add a company</button>
<div id="addAnswerFormDiv" >
  <app-add-company *ngIf="addCompany" (reloadParent)="companyAdded()"> </app-add-company>
</div>
<button *ngIf="addCompany" name="backToCompanyList" (click)="addCompany = false">
  Cancel
</button><br>

<div class="form-group">
  <input type="text" class="form-control search-field" placeholder="Keyword Search" [(ngModel)]="searchText" id="listSearch">
</div>

<div>
  <table class="table table-striped table-hover">
    <thead class="table-dark">
      <tr>
        <th>Id</th>
        <th>Company</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let company of companies | alphabetize:'name' | searchFilter: searchText">
        <td *ngIf="company.enabled">{{company.id}}</td>
        <td *ngIf="company.enabled"><img [src]="company.logoURL" style="width: 30px; height: 30px"> <a [routerLink]="['/companyDetail', company.id]">{{ company.name }}</a></td>
      </tr>
    </tbody>
  </table>


