<h5>Details for: {{selected?.question}}</h5>
<!-- Buttons for edit and delete next to question.
  If the selected question's user is the same as the logged in user, the buttons show up -->
  <button [routerLink]="['/editQuestion', selected?.id]"> Edit this Question</button>
<p> Submitted by <a class="nav-link" [routerLink]="['/userProfile', selected?.user?.id]">{{selected?.user?.username}}</a> on {{selected?.dateCreated | date: 'short'}}</p>
<!-- Add a date updated -->
<!-- Can anyone add a company to a question, or just the user? -->
<h5>Companies that have asked similar questions:</h5>
<ul *ngFor="let company of selected?.companies;">
  <li> {{company.name}} </li>
</ul>
<!-- Can anyone select new categories for a question, or just the user? -->
<h5>Applicable Categories:</h5>
<ul *ngFor="let category of selected?.categories;">
  <li > {{category.name}} </li>
</ul>
<h5>Answers:</h5>
<ul *ngFor="let answer of selected?.answers;">
  <li> {{answer.answer}} <br> <button class="btn btn-outline-primary" (click)="voteUp(answer)">UpVote</button> <button class="btn btn-outline-danger" (click)="voteDown(answer)">DownVote</button> </li>
  <li *ngIf="answer.ratings">{{determineRatingValue(answer)}}</li>

  <ul>
    <li> <a class="nav-link" [routerLink]="['/userProfile', answer.user?.id]">{{answer.user?.username}}</a> Created On {{answer.dateCreated | date: 'short'}}</li>
  </ul>
</ul>
<button class="btn btn-outline-primary" (click)="setAddAnswer()">add an answer</button>

<div id="addAnswerFormDiv" >
  <app-answer-form *ngIf="addAnswer && addAnswer != null" [selectedQuestion]="selected" (returnToParent)="loadNewAnswer()"> </app-answer-form>
</div>

