<h1>Detail page for {{selected?.name}}</h1>

<div *ngIf="selected">
  <button *ngIf="user.role === 'ADMIN'" class="btn btn-danger" (click)="deleteCompany(selected.id)"> Delete this Company</button>
</div>
  <button [routerLink]="['/editCompany', selected?.id]"> Edit this Company</button>

<h4>Description: {{selected?.description}}</h4>

<div *ngIf="selected?.address">
<h4>Address:</h4>
<p>{{selected?.address?.street}}</p>
<p *ngIf="selected?.address?.street2"> {{selected?.address?.street2}}</p>
<p> {{selected?.address?.city}},  {{selected?.address?.state}}   {{selected?.address?.zip}}</p>
</div>

<div>
  <h5>Questions for this company:</h5>
  <ul *ngFor="let question of selected?.questions;">
    <li><a class="nav-link" [routerLink]="['/questionDetail', question.id]">{{ question.question }}</a></li>
    <!-- <li> {{question.question}} </li> -->
  </ul>
</div>

