<h1>{{selected?.name}} Details</h1>

<br>
<br>
<img [src]="selected?.logoURL" alt="avatarPic" style="width:120px;height:120px;">
<h4>Description: {{selected?.description}}</h4>

<div *ngIf="selected?.address">
  <h4>Address:</h4>
  <p>{{selected?.address?.street}}</p>
  <p *ngIf="selected?.address?.street2"> {{selected?.address?.street2}}</p>
  <p> {{selected?.address?.city}},  {{selected?.address?.state}}   {{selected?.address?.zip}}</p>
</div>

<h5>Applicable Industries:</h5>
<ul *ngFor="let industry of selected?.industries;">
  <li > {{industry.name}} </li>
</ul>

<div>
  <h5>Questions for this company:</h5>
  <ul *ngFor="let question of selected?.questions;">
    <li><a class="nav-link" [routerLink]="['/questionDetail', question.id]">{{ question.question }}</a></li>
    <!-- <li> {{question.question}} </li> -->
  </ul>
</div>
<div *ngIf="selected">
  <button *ngIf="user.role === 'ADMIN'" class="btn btn-danger" (click)="deleteCompany(selected.id)"> Delete this Company</button>
</div>
<br>
  <button class="btn btn-primary"[routerLink]="['/editCompany', selected?.id]"> Edit this Company</button>


