<div id="userData" *ngIf="!editUser">

<H2>Welcome {{user.firstName}}, this is your user account data:</H2>

  <p>User Name: {{user.username}}</p>
  <p>First Name: {{user.firstName}}</p>
  <p>Last Name: {{user.lastName}}</p>
  <p>email address: {{user.email}}</p>
  <p>About me: {{user.aboutMe}}</p>
  <p>Member since: {{user.dateCreated}}</p>
  <p>Your avatar: {{user.avatarUrl}}</p>

  <button class="btn btn-outline-primary" (click)="setEditUser()">Edit your info</button>
  <button class="btn btn-outline-danger" (click)="deleteUserAccount()">Delete your account</button>
</div>


<div id="userDataEdit" *ngIf="editUser">
  <h2>Edit your account information:</h2>
  <form>
    <!-- <label for="username">User Name </label>
    <input type="text" name="username" [(ngModel)]="editUser.username" /> <br /> -->
    <!-- <label for="password">Password</label>
    <input type="text" name="password" [(ngModel)]="editUser.password" /> <br /> -->
    <label for="firstName">First Name </label>
    <input type="text" name="firstName" [(ngModel)]="editUser.firstName" /> <br />
    <label for="lastName">Last Name </label>
    <input type="text" name="lastName" [(ngModel)]="editUser.lastName" /> <br />
    <label for="email">Email Address </label>
    <input type="text" name="email" [(ngModel)]="editUser.email" /> <br />
    <label for="aboutMe">About Me </label>
    <input type="text" name="aboutMe" [(ngModel)]="editUser.aboutMe" /> <br />

    <label for="avatarUrl">Avatar URL</label>
    <input type="text" name="avatarUrl" [(ngModel)]="editUser.avatarUrl" /> <br />

    <button class="btn btn-danger" (click)="editUser = null">Cancel</button>
    <!-- <button class="btn btn-success" (click)="updateUser(editUser.id, editUser)">Save</button> -->
    <button class="btn btn-success" (click)="updateUser(editUser)">Save</button>
  </form>
</div>
