<div id="userData" *ngIf="!editUser">

<H2>Welcome {{user.firstName}}, this is your user account data:</H2>

  <p>User Name: {{user.username}}</p>
  <p>First Name: {{user.firstName}}</p>
  <p>Last Name: {{user.lastName}}</p>
  <p>email address: {{user.email}}</p>
  <p>About me: {{user.aboutMe}}</p>
  <p>Member since: {{user.dateCreated}}</p>
  <p>Your avatar: {{user.avatarUrl}}</p>

  <p>Your Address</p>
  <p>Street Address: {{user.address?.street}}</p>
  <p>Unit: {{user.address?.street2}}</p>
  <p>City: {{user.address?.city}}</p>
  <p>State: {{user.address?.state}}</p>
  <p>Zip Code: {{user.address?.zip}}</p>

  <button class="btn btn-outline-primary" (click)="setEditUser()">Edit your info</button>
  <button class="btn btn-outline-danger" (click)="deleteUserAccount()">Delete your account</button>
  <a *ngIf="isAdmin" routerLink="/admin"><button class="btn btn-outline-success" > Admin Settings</button></a>
</div>


<div id="userDataEdit" *ngIf="editUser">
  <h2>Edit your account information:</h2>
  <form>
    <!-- <label for="username">User Name </label>
    <input type="text" name="username" [(ngModel)]="editUser.username" /> <br /> -->
    <!-- <label for="password">Password</label>
    <input type="text" name="password" [(ngModel)]="editUser.password" /> <br /> -->
    <label for="firstName">First Name </label>
    <input type="text" name="firstName" [(ngModel)]="editUser.firstName" /> <br />
    <label for="lastName">Last Name </label>
    <input type="text" name="lastName" [(ngModel)]="editUser.lastName" /> <br />
    <label for="email">Email Address </label>
    <input type="text" name="email" [(ngModel)]="editUser.email" /> <br />
    <label for="aboutMe">About Me </label>
    <input type="text" name="aboutMe" [(ngModel)]="editUser.aboutMe" /> <br />

    <label for="avatarUrl">Avatar URL</label>
    <input type="text" name="avatarUrl" [(ngModel)]="editUser.avatarUrl" /> <br />

    <div *ngIf="editUser.address">
    <label for="street">Street Address</label>
    <input type="text" name="street" [(ngModel)]="editUser.address.street" /> <br />
    <label for="street2">Unit</label>
    <input type="text" name="street2" [(ngModel)]="editUser.address.street2" /> <br />
    <label for="city">City</label>
    <input type="text" name="city" [(ngModel)]="editUser.address.city" /> <br />
    <label for="state">State</label>
    <input type="text" name="state" [(ngModel)]="editUser.address.state" /> <br />
    <label for="zip">Zip Code</label>
    <input type="text" name="zip" [(ngModel)]="editUser.address.zip" /> <br />
    </div>

    <button class="btn btn-danger" (click)="editUser = null">Cancel</button>
    <!-- <button class="btn btn-success" (click)="updateUser(editUser.id, editUser)">Save</button> -->
    <button class="btn btn-success" (click)="updateUser(editUser)">Save</button>
  </form>

  <!-- Create Address form with field addAddress.
    Then get address id after it has been added.
    Make a newAddress field and set it to data from the addAddress function.
    Then set editUser.address to newAddress.
    Then call updateUser(editUser)
Will need address service for a create and a show method. Create address controller in Boot project -->

</div>

<div *ngIf="editUser && !editUser.address">
  <form>
    <div class="form-group">
      <div class="row">
        <div class="col-auto">
          <label for="street"><b>Street Address: </b></label>
        </div>
        <div class="col col-auto">
          <input
            id="street"
            type="text"
            name="street"
            placeholder="Street Address"
            [(ngModel)]="addAddress.street"
          />
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-auto">
          <label for="street2"><b>Unit:  </b></label>
        </div>
        <div class="col col-auto">
           <input
            id="street2"
            type="text"
            name="street2"
            placeholder="Unit"
            [(ngModel)]="addAddress.street2"
          />
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-auto">
          <label for="city"><b>City:  </b></label>
        </div>
        <div class="col col-auto">
           <input
            id="city"
            type="text"
            name="city"
            placeholder="City"
            [(ngModel)]="addAddress.city"
          />
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-auto">
          <label for="state"><b>State:  </b></label>
        </div>
        <div class="col col-auto">
           <input
            id="state"
            type="text"
            name="state"
            placeholder="State"
            [(ngModel)]="addAddress.state"
          />
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-auto">
          <label for="zip"><b>Zip Code:  </b></label>
        </div>
        <div class="col col-auto">
           <input
            id="zip"
            type="text"
            name="zip"
            placeholder="Zip Code"
            [(ngModel)]="addAddress.zip"
          />
        </div>
      </div>
    </div>
    <input
      class="btn btn-secondary"
      type="submit"
      name="addAddress"
      value="Add Address"
      (click)="addressAdd(addAddress)"
    />
  </form>
</div>

